<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golfo</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    

</head>
<body>
    <!-- Bannière de navigation -->
    <div class="nav-banner">
        <button id="uploadBtn" class="nav-button active">Traitement d'Images</button>
        <button id="editorBtn" class="nav-button">Éditeur d'Images</button>
    </div>

    <!-- Logos communs -->
    <div class="logo-container">
        <img src="../static/Logo GOLFO_transparent.png" alt="Logo Golfo">
        <img src="../static/Logo_ENSG (1).png" alt="Logo ENSG">
        <img src="../static/logo_PNGM.png" alt="Logo PNGM">
        <img src="../static/logo-ofb-actualite.png" alt="Logo OFB">
    </div>

    <!-- Page 1: Interface de Traitement d'Images -->
    <div id="upload-page" class="page-container" >
        <h1>Interface de Traitement d'Images</h1>
        <form id="uploadForm" method="POST">
            <label>Charger une image :</label>
            <input type="file" id="images" name="images" accept="image/*" multiple>
            
            <label>Sélectionner un dossier :</label>
            <input type="text" id="folder" name="folder" value="D:\dalles_ensg\dalles" placeholder="Chemin du dossier">
            
            <label>Sélectionner le dossier de sortie (output) :</label>
            <input type="text" id="output_folder" name="output_folder" value="D:\Golfo_Project\output_flask" placeholder="Chemin du dossier de sortie">
            
            <button type="submit">Chargement des données</button>
        </form>

        <div id="log">Logs de traitement s'afficheront ici...</div>

        <div id="previewContainer"></div>

       

        <button id="processBtn" style="display: none;">Lancer le traitement</button>
    </div>

    <!-- Page 2: Éditeur d'Images -->
    <div id="editor-page" class="page-container" style="display: none;">
        <h1>Éditeur d'Images</h1>
        <div class="editor-content">
            <div id="canvas-container"></div>
    
            <div class="controls">
                <label>Luminosité: <input type="range" id="brightness" min="0" max="200" value="100"></label>
                <label>Transparence: <input type="range" id="opacity" min="0" max="100" value="100"></label>
                
                <!-- Contrôles de redressement -->
                <label>Redressement horizontale: <input type="range" id="horizontal-straighten" min="-45" max="45" value="0" step="0.5"></label>
                <label>Redressement verticale: <input type="range" id="vertical-straighten" min="-45" max="45" value="0" step="0.5"></label>
                
                <input type="file" id="file-input" accept="image/*" multiple>
                
                <div id="saved-folder" style="margin-top: 10px;"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>


</html>
